---
import Filtrar from '@/components/Filtrar.jsx';
import Productos from '@/components/Productos.astro';
import { getProducts } from '@/data/request.js';
import Layout from '@/layouts/Layout.astro';

export const prerender = true;

export async function getStaticPaths() {
    const categorias = ['hardware', 'perifericos', 'monitores', 'laptops'];
    const paths = categorias.map((categoria) => ({
        params: { categoria },
    }));
    return paths;
}

const { categoria } = Astro.params;

const products = await getProducts();

const category = products?.filter((item) => item?.categoria === categoria);
---

<Layout title={`Categoría ${categoria} | Teny`}>
    <main>
        <img
            class="h-full w-full"
            src={`/assets/images/banners/Banner-${categoria}.png`}
            alt="Oferta 1"
        />
        <section
            class="flex flex-col items-center px-5 py-10 md:flex-row md:items-start"
        >
            <Filtrar client:visible />
            <div class="products m-5 grid w-full gap-4">
                {
                    category?.map(({ id, nombre, precio, src }) => (
                        <Productos
                            id={id}
                            nombre={nombre}
                            precio={precio}
                            src={src}
                        />
                    ))
                }
            </div>
        </section>
    </main>
</Layout>
