---
import DescripcionProducto from '@/components/DescripcionProducto.astro';
import Productos from '@/components/Productos.astro';
import { getProducts } from '@/data/request';
import Layout from '@/layouts/Layout.astro';

export const prerender = true;

export async function getStaticPaths() {
    const products = await getProducts();
    
    return products?.map(product => {
        const relatedProducts = products
            .filter(
                ({ subcategoria, categoria }) =>
                    subcategoria === product.subcategoria ||
                    categoria === product.categoria,
            )
            .sort(() => Math.random() - 0.5)
            .slice(0, 4);

        return {
            params: { id: product.id },
            props: { product, relatedProducts },
        }
    })
}

const { product, relatedProducts } = Astro.props
---

<Layout title={`${product?.nombre} | Tecny`}>
    <main>
        <DescripcionProducto
            id={product!.id}
            nombre={product!.nombre}
            precio={product!.precio}
            descripcion={product!.descripcion}
            src={product!.src}
            categoria={product!.categoria}
        />
        <section class="flex flex-col items-center">
            <h2 class="text-center text-4xl font-bold text-morado-primario">
                Productos Relacionados
            </h2>
            <div class="products m-5 grid w-3/4 gap-4">
                {
                    relatedProducts.map(({ id, nombre, precio, src }) => {
                        return (
                            <Productos
                                id={id}
                                nombre={nombre}
                                precio={precio}
                                src={src}
                            />
                        );
                    })
                }
            </div>
        </section>
    </main>
</Layout>
