---
import CategoriasCard from '@/components/CategoriasCard.astro';
import Productos from '@/components/Productos.astro';
import { getProducts } from '@/data/request';
import Layout from '@/layouts/Layout.astro';

const products = await getProducts();

const lastProducts = products?.slice(-4);
const logos = ['samsung', 'lg', 'apple', 'sony'];
---

<Layout title="Tienda Tecnológica | Tecny">
	<main>
		<img
			class="w-full aspect-[16/5]"
			src="./assets/images/banners/Banner Inicio.png"
			alt="Banner Inicio"
		/>
		<section class="my-10 flex flex-col items-center gap-5">
			<h2
				class="text-center text-4xl font-normal text-morado-primario md:text-5xl"
			>
				Categorías
			</h2>
			<div class="grid w-3/4 grid-cols-2 gap-5 lg:grid-cols-4">
				<CategoriasCard
					title="Hardware"
					image="./assets/images/categories/Categoria Hardware.png"
					href="/categorias/hardware"
				/>
				<CategoriasCard
					title="Perifericos"
					image="./assets/images/categories/Categoria Perifericos.png"
					href="/categorias/perifericos"
				/>
				<CategoriasCard
					title="Monitores"
					image="./assets/images/categories/Categoria Monitores.png"
					href="/categorias/monitores"
				/>
				<CategoriasCard
					title="Laptops"
					image="./assets/images/categories/Categoria Laptops.png"
					href="/categorias/laptops"
				/>
			</div>
		</section>
		<section>
			<h2
				class="my-10 text-center text-4xl font-normal text-morado-primario md:text-5xl"
			>
				Trabajamos con:
			</h2>
			<div class="overflow-hidden bg-morado-primario">
        <div class="flex items-center whitespace-nowrap animate-scroll w-screen">
					{
						logos.map((logo) => (
							<img class="mx-8" src={`/assets/images/icons/${logo}.png`} alt={logo} />
						))
					}
				</div>
			</div>
		</section>
		<section class="my-10 flex flex-col items-center">
			<h2
				class="mb-5 mt-3 text-center text-4xl font-normal text-morado-primario md:text-5xl"
			>
				Productos Nuevos
			</h2>
			<div class="products m-5 grid w-3/4 gap-2">
				{
					lastProducts?.map(({ id, nombre, precio, src }) => (
						<Productos id={id} nombre={nombre} precio={precio} src={src} />
					))
				}
			</div>
		</section>
	</main>
</Layout>
