---
import CategoriasCard from '@/components/CategoriasCard.astro';
import Productos from '@/components/Productos.astro';
import { getProducts } from '@/data/request';
import Layout from '@/layouts/Layout.astro';

const products = await getProducts();

const lastProducts = products?.slice(-4);
const logos = ['samsung', 'lg', 'apple', 'sony'];
---

<Layout title="Tienda Tecnológica | Tecny">
	<main>
		<img
			class="aspect-[16/5] w-full"
			src="./assets/images/banners/Banner Inicio.png"
			alt="Banner Inicio"
		/>
		<section class="my-10 flex flex-col items-center gap-5">
			<h2
				class="text-morado-primario text-center text-4xl font-normal md:text-5xl"
			>
				Categorías
			</h2>
			<div class="grid w-3/4 grid-cols-2 gap-5 lg:grid-cols-4">
				<CategoriasCard
					title="Hardware"
					image="./assets/images/categories/Categoria Hardware.png"
					href="/categorias/hardware"
				/>
				<CategoriasCard
					title="Perifericos"
					image="./assets/images/categories/Categoria Perifericos.png"
					href="/categorias/perifericos"
				/>
				<CategoriasCard
					title="Monitores"
					image="./assets/images/categories/Categoria Monitores.png"
					href="/categorias/monitores"
				/>
				<CategoriasCard
					title="Laptops"
					image="./assets/images/categories/Categoria Laptops.png"
					href="/categorias/laptops"
				/>
			</div>
		</section>
		<section>
			<h2
				class="text-morado-primario my-10 text-center text-4xl font-normal md:text-5xl"
			>
				Trabajamos con:
			</h2>
			<div
				class="bg-morado-primario before:from-morado-primario relative flex space-x-8 overflow-hidden before:absolute before:top-0 before:left-0 before:z-10 before:h-full before:w-1/5 before:bg-gradient-to-r before:to-transparent after:absolute after:top-0 after:right-0 after:z-10 after:h-full after:w-1/5 after:bg-gradient-to-l after:from-morado-primario after:to-transparent"
			>
				<div class="animate-scroll flex items-center space-x-8">
					{
						logos.map((logo) => (
							<img
								loading="lazy"
								class="max-w-none"
								src={`/assets/images/icons/${logo}.png`}
								alt={logo}
							/>
						))
					}
				</div>
				<div class="animate-scroll flex items-center space-x-8">
					{
						logos.map((logo) => (
							<img
								loading="lazy"
								class="max-w-none"
								src={`/assets/images/icons/${logo}.png`}
								alt={logo}
							/>
						))
					}
				</div>
			</div>
		</section>
		<section class="my-10 flex flex-col items-center">
			<h2
				class="text-morado-primario mt-3 mb-5 text-center text-4xl font-normal md:text-5xl"
			>
				Productos Nuevos
			</h2>
			<div class="products m-5 grid w-3/4 gap-2">
				{
					lastProducts?.map(({ id, nombre, precio, src }) => (
						<Productos id={id} nombre={nombre} precio={precio} src={src} />
					))
				}
			</div>
		</section>
	</main>
</Layout>
