---
interface props {
    id: string;
    nombre: string;
    precio: number;
    descripcion: string;
    categoria: string;
    src: string;
}

const { id, nombre, precio, descripcion, categoria, src } = Astro.props;
---

<section class="flex justify-center py-10">
    <div
        class="flex items-center justify-center bg-[#fdfdfd] size-[550px] border-[#e5e5e5] border-2 border-solid rounded-tl-2xl rounded-bl-2xl mx-10 shadow-lg p-10"
    >
        <img src={src} alt={nombre} />
    </div>
    <div
        class="bg-[#fdfdfd] w-[550px] border-2 h-auto border-solid border-[#e5e5e5] rounded-tr-2xl rounded-br-2xl shadow-lg flex flex-col pt-6 mx-10"
    >
        <h3 class="text-black text-[25px] pl-8 font-bold pr-32">{nombre}</h3>
        <p class="text-[#209FD5] pl-8 font-bold py-3 text-[20px]">${precio}</p>
        <p class="text-[#8D8C8C] pl-8 text-[18px] font-medium pr-24">
            {descripcion}
        </p>
        <hr class="border-[#e5e5e5] border-solid border-[2px] my-4" />
        <p class="pl-8">
            <strong class="text-black">SKU:</strong><span class="text-gris-oscuro"
            >{id}</span
            >
        </p>
        <p class="pl-8">
            <strong class="text-black">Categoría:</strong><span
            class="text-gris-oscuro">{categoria}</span
            >
        </p>
        <input
            class="bg-gris-oscuro ml-8 text-center w-12 py-1 rounded-lg mt-5"
            type="number"
            value="1"
            min="1"
            max="99"
            id="cantidad"
        />
        <button
            class="bg-gris-oscuro ml-8 w-48 h-8 flex justify-evenly items-center rounded-2xl mt-3"
            ><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="size-5" viewBox="0 0 33 34"><path fill="#fff" d="M11 34c1.3 0 2.3-1.3 2.3-2.8 0-1.6-1-2.8-2.4-2.8-1.3 0-2.4 1.2-2.4 2.8 0 1.5 1 2.7 2.4 2.7Zm16.9 0c1.3 0 2.4-1.3 2.4-2.8 0-1.6-1-2.8-2.4-2.8s-2.4 1.2-2.4 2.8c0 1.5 1 2.7 2.4 2.7ZM10.3 21.5H30L33 5H7.7l-.6-4H0v2.7h5L8.7 27h21.6v-2.7H10.7l-.4-2.8Z"/></svg>

            <span>Agregar al carrito</span>
        </button>
    </div>
</section>
