---
const { id, nombre, precio, cantidad = 1, src } = Astro.props;
---

<article
    class="flex h-auto w-full flex-col justify-between rounded-2xl border border-solid border-[#dadada] pb-4 shadow-lg"
>
    <a
        class="flex max-h-52 items-center justify-center"
        href={`/productos/${id}`}
    >
        <img transition:name={`img-${id}`} class="h-full object-contain p-4" src={src} alt={nombre} />
    </a>
    <hr class="border-[#dadada]" />
    <div class="m-4">
        <div class="flex flex-col gap-y-2">
            <span class="text-gray-500">SKU: {id}</span>
            <h3 class="font-semibold text-black">{nombre}</h3>
            <span class="font-semibold text-sky-500">{`$ ${precio}`}</span>
        </div>
        <div class="max-h-1/2 flex flex-col">
            <input
                class="my-3 max-w-12 rounded-lg bg-gris-oscuro p-1 text-center"
                type="number"
                min="0"
                max="99"
                value={cantidad}
            />
            <button
                class="flex items-center justify-evenly rounded-lg bg-gris-oscuro px-3 py-1 transition-transform hover:scale-105"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 33 34"
                    class="size-5"
                    ><path
                        fill="#fff"
                        d="M11 34c1.3 0 2.3-1.3 2.3-2.8 0-1.6-1-2.8-2.4-2.8-1.3 0-2.4 1.2-2.4 2.8 0 1.5 1 2.7 2.4 2.7Zm16.9 0c1.3 0 2.4-1.3 2.4-2.8 0-1.6-1-2.8-2.4-2.8s-2.4 1.2-2.4 2.8c0 1.5 1 2.7 2.4 2.7ZM10.3 21.5H30L33 5H7.7l-.6-4H0v2.7h5L8.7 27h21.6v-2.7H10.7l-.4-2.8Z"
                    ></path></svg
                >
                <span class="font-medium">Añadir al carrito</span>
                <button></button>
            </button>
        </div>
    </div>
</article>
